.main-navigation {
	width: 100%;
	height: 50px;
	text-align: right;
	overflow: hidden;

	.navigation-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		padding: 0;
		margin: 0;
		text-align: left;
		opacity: 0;
		overflow: hidden;
		display: none;

		&.animation-exit-done {
			display: none;
		}

		&.animation-enter-active,
		&.animation-enter-done {
			display: block;

			-webkit-animation-name: reveal;
			-moz-animation-name: reveal;
			animation-name: reveal;

			@-webkit-keyframes reveal {
			    0% { opacity: 0; }
			    0.1%, 100% { opacity: 1; }
			}
			@-moz-keyframes reveal {
			    0% { opacity: 0; }
			    0.1%, 100% { opacity: 1; }
			}
			@-o-keyframes reveal {
			    0% { opacity: 0; }
			    0.1%, 100% { opacity: 1; }
			}
			@keyframes reveal {
			    0% { opacity: 0; }
			    0.1%, 100% { opacity: 1; }
			}

			.background-fill {
				&.first {
					-webkit-animation-name: backgroundFillFirst;
					-moz-animation-name: backgroundFillFirst;
					animation-name: backgroundFillFirst;
				}

				@-webkit-keyframes backgroundFillFirst {
				    0% { transform: translate3d(-100%, 0, 0); }
				    16%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-moz-keyframes backgroundFillFirst {
				    0% { transform: translate3d(-100%, 0, 0); }
				    16%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-o-keyframes backgroundFillFirst {
				    0% { transform: translate3d(-100%, 0, 0); }
				    16%, 100% { transform: translate3d(0, 0, 0); }
				}
				@keyframes backgroundFillFirst {
				    0% { transform: translate3d(-100%, 0, 0); }
				    16%, 100% { transform: translate3d(0, 0, 0); }
				}


				&.second {
					-webkit-animation-name: backgroundFillSecond;
					-moz-animation-name: backgroundFillSecond;
					animation-name: backgroundFillSecond;
				}

				@-webkit-keyframes backgroundFillSecond {
				    0%, 4% { transform: translate3d(-100%, 0, 0); }
				    20%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-moz-keyframes backgroundFillSecond {
				    0%, 4% { transform: translate3d(-100%, 0, 0); }
				    20%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-o-keyframes backgroundFillSecond {
				    0%, 4% { transform: translate3d(-100%, 0, 0); }
				    20%, 100% { transform: translate3d(0, 0, 0); }
				}
				@keyframes backgroundFillSecond {
				    0%, 4% { transform: translate3d(-100%, 0, 0); }
				    20%, 100% { transform: translate3d(0, 0, 0); }
				}


				&.third {
					-webkit-animation-name: backgroundFillThird;
					-moz-animation-name: backgroundFillThird;
					animation-name: backgroundFillThird;
				}

				@-webkit-keyframes backgroundFillThird {
				    0%, 8% { transform: translate3d(-100%, 0, 0); }
				    24%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-moz-keyframes backgroundFillThird {
				    0%, 8% { transform: translate3d(-100%, 0, 0); }
				    24%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-o-keyframes backgroundFillThird {
				    0%, 8% { transform: translate3d(-100%, 0, 0); }
				    24%, 100% { transform: translate3d(0, 0, 0); }
				}
				@keyframes backgroundFillThird {
				    0%, 8% { transform: translate3d(-100%, 0, 0); }
				    24%, 100% { transform: translate3d(0, 0, 0); }
				}


				&.fourth {
					-webkit-animation-name: backgroundFillFourth;
					-moz-animation-name: backgroundFillFourth;
					animation-name: backgroundFillFourth;
				}

				@-webkit-keyframes backgroundFillFourth {
				    0%, 12% { transform: translate3d(-100%, 0, 0); }
				    28%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-moz-keyframes backgroundFillFourth {
				    0%, 12% { transform: translate3d(-100%, 0, 0); }
				    28%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-o-keyframes backgroundFillFourth {
				    0%, 12% { transform: translate3d(-100%, 0, 0); }
				    28%, 100% { transform: translate3d(0, 0, 0); }
				}
				@keyframes backgroundFillFourth {
				    0%, 12% { transform: translate3d(-100%, 0, 0); }
				    28%, 100% { transform: translate3d(0, 0, 0); }
				}


				&.fifth {
					-webkit-animation-name: backgroundFillFifth;
					-moz-animation-name: backgroundFillFifth;
					animation-name: backgroundFillFifth;
				}

				@-webkit-keyframes backgroundFillFifth {
				    0%, 16% { transform: translate3d(-100%, 0, 0); }
				    32%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-moz-keyframes backgroundFillFifth {
				    0%, 16% { transform: translate3d(-100%, 0, 0); }
				    32%, 100% { transform: translate3d(0, 0, 0); }
				}
				@-o-keyframes backgroundFillFifth {
				    0%, 16% { transform: translate3d(-100%, 0, 0); }
				    32%, 100% { transform: translate3d(0, 0, 0); }
				}
				@keyframes backgroundFillFifth {
				    0%, 16% { transform: translate3d(-100%, 0, 0); }
				    32%, 100% { transform: translate3d(0, 0, 0); }
				}
			}

			ul,
			.close-button {
				-webkit-animation-name: showNavigation;
				-moz-animation-name: showNavigation;
				animation-name: showNavigation;
			}

			@-webkit-keyframes showNavigation {
			    0%, 40% { opacity: 0; }
			    56%, 100% { opacity: 1; }
			}
			@-moz-keyframes showNavigation {
			    0%, 40% { opacity: 0; }
			    56%, 100% { opacity: 1; }
			}
			@-o-keyframes showNavigation {
			    0%, 40% { opacity: 0; }
			    56%, 100% { opacity: 1; }
			}
			@keyframes showNavigation {
			    0%, 40% { opacity: 0; }
			    56%, 100% { opacity: 1; }
			}
		}


		&.animation-exit-active {
			display: block;

			-webkit-animation-name: hide;
			-moz-animation-name: hide;
			animation-name: hide;

			@-webkit-keyframes hide {
			    0%, 99.9% { opacity: 1; }
			    100% { opacity: 0; }
			}
			@-moz-keyframes hide {
			    0%, 99.9% { opacity: 1; }
			    100% { opacity: 0; }
			}
			@-o-keyframes hide {
			    0%, 99.9% { opacity: 1; }
			    100% { opacity: 0; }
			}
			@keyframes hide {
			    0%, 99.9% { opacity: 1; }
			    100% { opacity: 0; }
			}

			.background-fill {
				&.first {
					-webkit-animation-name: backgroundExitlFirst;
					-moz-animation-name: backgroundExitlFirst;
					animation-name: backgroundExitlFirst;
				}

				@-webkit-keyframes backgroundExitlFirst {
				    0%, 24% { transform: translate3d(0, 0, 0); }
				    40%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-moz-keyframes backgroundExitlFirst {
				    0%, 24% { transform: translate3d(0, 0, 0); }
				    40%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-o-keyframes backgroundExitlFirst {
				    0%, 24% { transform: translate3d(0, 0, 0); }
				    40%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@keyframes backgroundExitlFirst {
				    0%, 24% { transform: translate3d(0, 0, 0); }
				    40%, 100% { transform: translate3d(100%, 0, 0); }
				}


				&.second {
					-webkit-animation-name: backgroundExitlSecond;
					-moz-animation-name: backgroundExitlSecond;
					animation-name: backgroundExitlSecond;
				}

				@-webkit-keyframes backgroundExitlSecond {
				    0%, 28% { transform: translate3d(0, 0, 0); }
				    44%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-moz-keyframes backgroundExitlSecond {
				    0%, 28% { transform: translate3d(0, 0, 0); }
				    44%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-o-keyframes backgroundExitlSecond {
				    0%, 28% { transform: translate3d(0, 0, 0); }
				    44%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@keyframes backgroundExitlSecond {
				    0%, 28% { transform: translate3d(0, 0, 0); }
				    44%, 100% { transform: translate3d(100%, 0, 0); }
				}


				&.third {
					-webkit-animation-name: backgroundExitlThird;
					-moz-animation-name: backgroundExitlThird;
					animation-name: backgroundExitlThird;
				}

				@-webkit-keyframes backgroundExitlThird {
				    0%, 32% { transform: translate3d(0, 0, 0); }
				    48%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-moz-keyframes backgroundExitlThird {
				    0%, 32% { transform: translate3d(0, 0, 0); }
				    48%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-o-keyframes backgroundExitlThird {
				    0%, 32% { transform: translate3d(0, 0, 0); }
				    48%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@keyframes backgroundExitlThird {
				    0%, 32% { transform: translate3d(0, 0, 0); }
				    48%, 100% { transform: translate3d(100%, 0, 0); }
				}


				&.fourth {
					-webkit-animation-name: backgroundExitlFourth;
					-moz-animation-name: backgroundExitlFourth;
					animation-name: backgroundExitlFourth;
				}

				@-webkit-keyframes backgroundExitlFourth {
				    0%, 36% { transform: translate3d(0, 0, 0); }
				    52%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-moz-keyframes backgroundExitlFourth {
				    0%, 36% { transform: translate3d(0, 0, 0); }
				    52%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-o-keyframes backgroundExitlFourth {
				    0%, 36% { transform: translate3d(0, 0, 0); }
				    52%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@keyframes backgroundExitlFourth {
				    0%, 36% { transform: translate3d(0, 0, 0); }
				    52%, 100% { transform: translate3d(100%, 0, 0); }
				}


				&.fifth {
					-webkit-animation-name: backgroundExitlFifth;
					-moz-animation-name: backgroundExitlFifth;
					animation-name: backgroundExitlFifth;
				}

				@-webkit-keyframes backgroundExitlFifth {
				    0%, 40% { transform: translate3d(0, 0, 0); }
				    56%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-moz-keyframes backgroundExitlFifth {
				    0%, 40% { transform: translate3d(0, 0, 0); }
				    56%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@-o-keyframes backgroundExitlFifth {
				    0%, 40% { transform: translate3d(0, 0, 0); }
				    56%, 100% { transform: translate3d(100%, 0, 0); }
				}
				@keyframes backgroundExitlFifth {
				    0%, 40% { transform: translate3d(0, 0, 0); }
				    56%, 100% { transform: translate3d(100%, 0, 0); }
				}
			}

			ul,
			.close-button {
				-webkit-animation-name: hideNavigation;
				-moz-animation-name: hideNavigation;
				animation-name: hideNavigation;
			}

			@-webkit-keyframes hideNavigation {
			    0% { opacity: 1; }
			    16%, 100% { opacity: 0; }
			}
			@-moz-keyframes hideNavigation {
			    0% { opacity: 1; }
			    16%, 100% { opacity: 0; }
			}
			@-o-keyframes hideNavigation {
			    0% { opacity: 1; }
			    16%, 100% { opacity: 0; }
			}
			@keyframes hideNavigation {
			    0% { opacity: 1; }
			    16%, 100% { opacity: 0; }
			}
		}
	}

	ul {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 0;
		Left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;
		z-index: 2;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		color: red;
		padding: 10px;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
	}

	.background-fill {
		position: absolute;
		left: 0px;
		right: 0px;
		height: 20%;
		background-color: yellow;
		z-index: 1;

		transform: translate3d(-100%, 0, 0);

		&.first {
			top: 0px;
		}

		&.second {
			top: 20%;
		}

		&.third {
			top: 40%;
		}

		&.fourth {
			top: 60%;
		}

		&.fifth {
			top: 80%;
		}
	}
}

.main-navigation--menu-icon {
	padding: 10px;
	background: blue;
	cursor: pointer;
}

.navigation-overlay,
ul,
.close-button,
.background-fill {
    -webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	animation-duration: 6s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}